body {
    background: #ebebf5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    width: 260px;
    position: relative;
    margin: 50px auto;
    text-align: center;
}

h1 {
    font-family: 'Satisfy', cursive;
    font-size: 60px;
}

.input-tarefa {
    border-radius: 5px;
    height: 40px;
    font-size: 14px;
}

button {
    border-radius: 5px;
    height: 45px;
    background: aquamarine;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

li {
    margin: 10px 0;
    font-size: 18px;
}

:checked + label {
    text-decoration: line-through;
    color: grey;
  }

